 
  <style>
    section {
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
    }

    .container {
      max-width: 400px;
      margin: 0 auto;
      padding: 40px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      
    }

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
      margin-top: 20px;
    }
    p::after{
        content: "Remember Our 404 Page Don't Have Header or Footer";
    }
  </style>
 
<section>
  <div class="container">
    <h1>404 Page Not Found</h1>
    <p>The page you are looking for does not exist.</p>
    <button id="home">Back Home</button>
  </div>
 
