<!DOCTYPE html>
<html lang="en">
<head>
   <meta>
</meta>
<!-- <script src="routemamba.min.js"></script> -->
<script src="/dist/routemamba.min.js"></script>
<!-- <script src="../../out/routemamba-depreceted.js"></script> -->
<!-- <script src="../../src/routemamba.js"></script> -->

</head>
<body>
<div class="header">
   <button id="back">Back</button>
   <button id="next">Next</button>
   <button id="home">Home</button>
   <button id="about">about</button>
   <button id="privacy">privacy</button>
   <button id="tabs-example">Tabs example</button>
   <button id="post">Post</button>
   <button id="news">news</button>
   <hr>
</div>