<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-collapse">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" id="home_nav" href="/">Home</a>
        <a class="nav-item nav-link" id="about_nav" href="/about.html">About</a>
        <a class="nav-item nav-link" id="tabs_nav" href="/tabs.html">Tabs</a>
        <a class="nav-item nav-link" id="about_nav" href="/sub/about.html">About 2</a>
      </div>
    </div>
  </nav>

  <script src="/web/header.js"></script>