<!-- Header -->
<header class="bg-white">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
      </a>
    </div>
    <a href="/" id="Homenav" class="text-sm font-semibold leading-6 text-gray-900 mr-5">Home</a>
    <a href="/pricing" id="PricingNav" class="text-sm font-semibold leading-6 text-gray-900 mr-5">Pricing</a>
    <a href="/features" id="FeaturesNav" class="text-sm font-semibold leading-6 text-gray-900 mr-5">Features</a>
    <a href="/post/03-01-2023/Spacex-launched-a-new-rocket" id="PostNav" class="text-sm font-semibold leading-6 text-gray-900 mr-5">Post</a>
  </nav>

</header>

<!-- Header -->
<script src="/static/navigation.js"></script>